VITE_API_BASE_URL=http://localhost:5000/api/v1
VITE_COGNITO_USER_POOL_ID=us-east-1_PLACEHOLDER
VITE_COGNITO_CLIENT_ID=PLACEHOLDER_CLIENT_ID
VITE_COGNITO_DOMAIN=hsecockpit-dev.auth.us-east-1.amazoncognito.com
VITE_AWS_REGION=us-east-1
